<a href="https://colab.research.google.com/github/srivatsan88/YouTubeLI/blob/master/dsportfolio/Twitter_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Model Training](https://drive.google.com/uc?id=17cUxpbL2eonLzgY0uIVAxmsfMfQF1by2)

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!ls '/content/drive/My Drive/Colab Notebooks/twitter.properties'

'/content/drive/My Drive/Colab Notebooks/twitter.properties'

In [0]:
!pip install ConfigParser

Collecting ConfigParser
  Downloading https://files.pythonhosted.org/packages/7a/2a/95ed0501cf5d8709490b1d3a3f9b5cf340da6c433f896bbe9ce08dbe6785/configparser-4.0.2-py2.py3-none-any.whl
Installing collected packages: ConfigParser
Successfully installed ConfigParser-4.0.2

[twitter]
accesstoken=xxxx

accesstokensecret=xxxx

apikey=xxxxxx

apisecretkey=xxxxxx

googleapikey=xxxxxxx

In [0]:
import configparser
config = configparser.RawConfigParser()
config.read('/content/drive/My Drive/Colab Notebooks/twitter.properties')

print(config.sections());

['twitter']

In [0]:
import os
import tweepy as tw

In [0]:
accesstoken=config.get('twitter', 'accesstoken')
accesstokensecret=config.get('twitter', 'accesstokensecret')
apikey=config.get('twitter', 'apikey')
apisecretkey=config.get('twitter', 'apisecretkey')

In [0]:
auth = tw.OAuthHandler(apikey, apisecretkey)
auth.set_access_token(accesstoken, accesstokensecret)
api = tw.API(auth, wait_on_rate_limit=True)

In [0]:
search_words = "#coronavirus"
date_since = "2020-03-10"

In [0]:
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(1000)

In [0]:
tweets

In [0]:
tweet_details = [[tweet.geo, tweet.text,tweet.user.screen_name, tweet.user.location] for tweet in tweets]
#tweet_details

In [0]:
import pandas as pd

In [0]:
tweet_df = pd.DataFrame(data=tweet_details, columns=['geo','text','user', "location"])

In [0]:
pd.set_option('max_colwidth', 800)

tweet_df.head(20)

     geo  ...                        location
0   None  ...                           Lagos
1   None  ...                  Abuja, Nigeria
2   None  ...               Pennsylvania, USA
3   None  ...                             NYC
4   None  ...
5   None  ...         Durban | Port Elizabeth
6   None  ...                         Florida
7   None  ...      New South Wales, Australia
8   None  ...                    Columbus, OH
9   None  ...             South East, England
10  None  ...
11  None  ...                              UK
12  None  ...
13  None  ...             Fort Washington, PA
14  None  ...
15  None  ...  Christchurch City, New Zealand
16  None  ...                             USA
17  None  ...
18  None  ...                      Texas, USA
19  None  ...                       Worldwide

[20 rows x 4 columns]

In [0]:
tweet_df.user.value_counts()

Wandacalabrese1    4
DemiurgoTuiter     4
ryanisarapper      3
corzine_r          3
ColettaFrank       2
                  ..
arkolakis          1
Soothe888          1
aguacaliente123    1
ayyo_fonso         1
Woorah__           1
Name: user, Length: 966, dtype: int64

In [0]:
tweet_df.location.value_counts()

                   295
United States       16
Los Angeles, CA     12
USA                  6
NYC                  6
                  ...
Tampa, FL            1
Gilbert, AZ          1
Cyber Space          1
Wisconsin            1
Oregon, USA          1
Name: location, Length: 543, dtype: int64

In [0]:
import re
def clean_tweets(text):
    text = re.sub("RT @[\w]*:","",text)
    text = re.sub("@[\w]*","",text)
    text = re.sub("https?://[A-Za-z0-9./]*","",text)
    text = re.sub("\n","",text)
    return text

In [0]:
tweet_df['text']=tweet_df['text'].apply(lambda x: clean_tweets(x))

In [0]:
tweet_df.head(20)

     geo  ...                        location
0   None  ...                           Lagos
1   None  ...                  Abuja, Nigeria
2   None  ...               Pennsylvania, USA
3   None  ...                             NYC
4   None  ...
5   None  ...         Durban | Port Elizabeth
6   None  ...                         Florida
7   None  ...      New South Wales, Australia
8   None  ...                    Columbus, OH
9   None  ...             South East, England
10  None  ...
11  None  ...                              UK
12  None  ...
13  None  ...             Fort Washington, PA
14  None  ...
15  None  ...  Christchurch City, New Zealand
16  None  ...                             USA
17  None  ...
18  None  ...                      Texas, USA
19  None  ...                       Worldwide

[20 rows x 4 columns]

In [0]:
tweet_df.to_csv('tweets.csv')

In [0]:
!ls

drive  sample_data

In [0]:
import spacy 
  
nlp = spacy.load('en_core_web_sm')

In [0]:
tweet_df['text'].apply(lambda x: [print("\tText : {}, Entity : {}".format(ent.text, ent.label_)) if (not ent.text.startswith('#')) else ""  for ent in nlp(x).ents])

	Text : about #, Entity : CARDINAL
	Text : Arsenal's Mikel Arteta, Entity : ORG
	Text : World, Entity : ORG
	Text : this weekend, Entity : DATE
	Text : Italy, Entity : GPE
	Text : 1,0002, Entity : CARDINAL
	Text : Arsenal, Entity : ORG
	Text : Arteta, Entity : ORG
	Text : US, Entity : GPE
	Text : Twitter, Entity : GPE
	Text : tonight, Entity : TIME
	Text : NAfME, Entity : CARDINAL
	Text : Portsmouth, Entity : GPE
	Text : Uk, Entity : GPE
	Text : Democrats, Entity : NORP
	Text : 14 days, Entity : DATE
	Text : Republicans, Entity : NORP
	Text : the last 6 weeks, Entity : DATE
	Text : Joy, Entity : PERSON
	Text : 1B, Entity : MONEY
	Text : 1/2, Entity : CARDINAL
	Text : CDC, Entity : ORG
	Text : Robert Redfield, Entity : PERSON
	Text : Americans, Entity : NORP
	Text : CoronaVirus, Entity : ORG
	Text : Ontario, Entity : ORG
	Text : 17, Entity : CARDINAL
	Text : Joe Biden, Entity : PERSON
	Text : USA, Entity : GPE
	Text : CDC, Entity : ORG
	Text : Covid_19, Entity : MONEY
	Text : Dena Grayson, Entity : PERSON
	Text : Jeremy Hunt, Entity : PERSON
	Text : BREAKING Universal, Entity : ORG
	Text : Studios Hollywood, Entity : PERSON
	Text : two weeks, Entity : DATE
	Text : Cheltenham, Entity : GPE
	Text : a day, Entity : DATE
	Text : Alex Jones, Entity : PERSON
	Text : CoronavirusExperts, Entity : ORG
	Text : two weeks, Entity : DATE
	Text : Half, Entity : CARDINAL
	Text : Italy, Entity : GPE
	Text : US, Entity : GPE
	Text : FamiliesFirst, Entity : ORG
	Text : Response Ac, Entity : PERSON
	Text : Biden, Entity : GPE
	Text : Sanders, Entity : NORP
	Text : CoronaVirus, Entity : ORG
	Text : China, Entity : GPE
	Text : ten, Entity : CARDINAL
	Text : HHS, Entity : ORG
	Text : Trump, Entity : ORG
	Text : CDC, Entity : ORG
	Text : the White House, Entity : ORG
	Text : David Stern, Entity : PERSON
	Text : Adam Silver &, Entity : ORG
	Text : the  season, Entity : DATE
	Text : First, Entity : ORDINAL
	Text : 99, Entity : CARDINAL
	Text : 100, Entity : CARDINAL
	Text : GOP, Entity : ORG
	Text : GOP, Entity : ORG
	Text : 5, Entity : CARDINAL
	Text : Hospital, Entity : ORG
	Text : -Cop, Entity : ORG
	Text : Safety Measures - Se, Entity : ORG
	Text : Sad That, Entity : WORK_OF_ART
	Text : Whoever Manufactured, Entity : WORK_OF_ART
	Text : Lindsey Graham, Entity : PERSON
	Text : PaidSickLeave, Entity : MONEY
	Text : Ghana, Entity : GPE
	Text : first, Entity : ORDINAL
	Text : two, Entity : CARDINAL
	Text : Norway, Entity : GPE
	Text : Turkey, Entity : GPE
	Text : Ohio, Entity : GPE
	Text : 11.7, Entity : CARDINAL
	Text : This week, Entity : DATE
	Text : Trump, Entity : ORG
	Text : America, Entity : GPE
	Text : 20, Entity : CARDINAL
	Text : CoronavirusPandemic, Entity : ORG
	Text : Germany, Entity : GPE
	Text : France, Entity : GPE
	Text : Spain, Entity : GPE
	Text : Switzerland, Entity : GPE
	Text : UK, Entity : GPE
	Text : USA, Entity : GPE
	Text : China, Entity : GPE
	Text : today, Entity : DATE
	Text : China, Entity : GPE
	Text : Wuhan, Entity : GPE
	Text : CDC, Entity : ORG
	Text : World Health Organization, Entity : ORG
	Text : Catholic, Entity : NORP
	Text : Rome, Entity : GPE
	Text : The Santa Fe Indian School, Entity : ORG
	Text : New Mexico, Entity : GPE
	Text : today, Entity : DATE
	Text : April 29, Entity : DATE
	Text : KO, Entity : ORG
	Text : three, Entity : CARDINAL
	Text : 1, Entity : CARDINAL
	Text : this day, Entity : DATE
	Text : China, Entity : GPE
	Text : nine, Entity : CARDINAL
	Text : 31 tons, Entity : QUANTITY
	Text : China, Entity : GPE
	Text : Italy, Entity : GPE
	Text : Thursday, Entity : DATE
	Text : night, Entity : TIME
	Text : today, Entity : DATE
	Text : a few minutes, Entity : TIME
	Text : UK, Entity : GPE
	Text : today, Entity : DATE
	Text : weeks, Entity : DATE
	Text : NYC, Entity : ORG
	Text : House, Entity : ORG
	Text : the May Rebellion &amp, Entity : ORG
	Text : XR, Entity : GPE
	Text : Trump’s, Entity : ORG
	Text : the World Health Organization, Entity : ORG
	Text : 60, Entity : CARDINAL
	Text : Ralph, Entity : PERSON
	Text : 60s, Entity : DATE
	Text : Southland, Entity : GPE
	Text : Alex Jones, Entity : PERSON
	Text : FamiliesFirst, Entity : ORG
	Text : Response Ac, Entity : PERSON
	Text : Biden, Entity : GPE
	Text : Sanders, Entity : NORP
	Text : Comprehen, Entity : PERSON
	Text : Jones, Entity : PERSON
	Text : &amp, Entity : ORG
	Text : Lightfoot, Entity : PERSON
	Text : Pritzker, Entity : PERSON
	Text : Cook Co., Entity : ORG
	Text : Preckwinkle, Entity : PERSON
	Text : Ghanaian, Entity : NORP
	Text : Arctic, Entity : LOC
	Text : SARSCoV2, Entity : ORG
	Text : Ghana, Entity : PERSON
	Text : Gabon, Entity : PERSON
	Text : first, Entity : ORDINAL
	Text : Today, Entity : DATE
	Text : IRELAND, Entity : ORG
	Text : Alex Jones, Entity : PERSON
	Text : NBA, Entity : ORG
	Text : Soccer, Entity : ORG
	Text : Indianapolis, Entity : GPE
	Text : New York City's, Entity : GPE
	Text : Bill de Blasio, Entity : PERSON
	Text : The Federal Reserve Bank, Entity : ORG
	Text : New York, Entity : GPE
	Text : Thursday, Entity : DATE
	Text : $1.5 trillion, Entity : MONEY
	Text : Alex Jones, Entity : PERSON
	Text : Coronavirus, Entity : MONEY
	Text : Jeremy Hunt, Entity : PERSON
	Text : David Attenborough, Entity : PERSON
	Text : Sky News, Entity : ORG
	Text : UK, Entity : GPE
	Text : IRGC, Entity : ORG
	Text : today, Entity : DATE
	Text : a few minutes, Entity : TIME
	Text : Joe Biden, Entity : PERSON
	Text : PresidentBiden, Entity : ORG
	Text : Joe Biden, Entity : PERSON
	Text : PresidentBiden, Entity : ORG
	Text : Europe, Entity : LOC
	Text : CDC, Entity : ORG
	Text : Europe, Entity : LOC
	Text : approximately 60 million, Entity : CARDINAL
	Text : Americans, Entity : NORP
	Text : 2009, Entity : DATE
	Text : 1918, Entity : DATE
	Text : Spanish, Entity : NORP
	Text : India, Entity : GPE
	Text : Dena Grayson, Entity : PERSON
	Text : British, Entity : NORP
	Text : Trump’s, Entity : ORG
	Text : Coronavirus, Entity : MONEY
	Text : NBA, Entity : ORG
	Text : Mark Cuban, Entity : PERSON
	Text : Iran, Entity : GPE
	Text : China, Entity : GPE
	Text : Europe, Entity : LOC
	Text : McConnell, Entity : ORG
	Text : Senate, Entity : ORG
	Text : UK, Entity : GPE
	Text : March 2019, Entity : DATE
	Text : China, Entity : GPE
	Text : Serbian, Entity : NORP
	Text : about #coronavirus.😳#COVID19 #, Entity : MONEY
	Text : two, Entity : CARDINAL
	Text : Kansas, Entity : GPE
	Text : first, Entity : ORDINAL
	Text : his 70s, Entity : DATE
	Text : Wyandot, Entity : NORP
	Text : Mondays, Entity : DATE
	Text : Chicago, Entity : GPE
	Text : CPS, Entity : ORG
	Text : today, Entity : DATE
	Text : Italy, Entity : GPE
	Text : South Korea, Entity : GPE
	Text : first, Entity : ORDINAL
	Text : late January, Entity : DATE
	Text : Congress, Entity : ORG
	Text : PHARMA, Entity : ORG
	Text : ICAN, Entity : ORG
	Text : CDC, Entity : ORG
	Text : Under Attack, Entity : PERSON
	Text : CoronaVirus, Entity : ORG
	Text : NHL, Entity : ORG
	Text : SHUT DOWN EVE, Entity : FAC
	Text : Congress, Entity : ORG
	Text : CoronaVirus, Entity : ORG
	Text : two days, Entity : DATE
	Text : Serbian, Entity : NORP
	Text : about #coronavirus.😳#COVID19 #, Entity : MONEY
	Text : Trump, Entity : ORG
	Text : Democratic, Entity : NORP
	Text : Tom Hanks', Entity : PERSON
	Text : CoronaVirus, Entity : ORG
	Text : Kingsway, Entity : GPE
	Text : GTA, Entity : ORG
	Text : 4⃣, Entity : CARDINAL
	Text : Prepare, Entity : ORG
	Text : Detect, Entity : GPE
	Text : Reduce, Entity : PERSON
	Text : EXAC, Entity : ORG
	Text : Disney, Entity : ORG
	Text : 1st, Entity : ORDINAL
	Text : Center for Discovery, Entity : ORG
	Text : Innovation, Entity : ORG
	Text : 2019, Entity : DATE
	Text : COVID-19)#Coronavirus #COVID19 #Anesthesia #, Entity : MONEY
	Text : MedTwitter, Entity : ORG
	Text : One, Entity : CARDINAL
	Text : Congresswoman, Entity : GPE
	Text : CDC, Entity : ORG
	Text : CoronaVirus, Entity : ORG
	Text : Americans, Entity : NORP
	Text : Coronavirus, Entity : MONEY
	Text : David Halpern, Entity : PERSON
	Text : Trump, Entity : ORG
	Text : 1,000, Entity : CARDINAL
	Text : Italy, Entity : GPE
	Text : US, Entity : GPE
	Text : Europe, Entity : LOC
	Text : Disneyland, Entity : ORG
	Text : Trump, Entity : ORG
	Text : European, Entity : NORP
	Text : Dallas, Entity : GPE
	Text : SulRoss, Entity : MONEY
	Text : last weekend, Entity : DATE
	Text : Mar-a-Lago, Entity : ORG
	Text : Trump, Entity : ORG
	Text : Fábio Wajngarten, Entity : PERSON
	Text : Mideast, Entity : LOC
	Text : Serbian, Entity : NORP
	Text : about #coronavirus.😳#COVID19 #, Entity : MONEY
	Text : Universal Studios, Entity : ORG
	Text : Americans, Entity : NORP
	Text : Motorsport, Entity : FAC
	Text : the next few months, Entity : DATE
	Text : Coronavirus, Entity : GPE
	Text : China, Entity : GPE
	Text : CoronavirusPandemic, Entity : ORG
	Text : 🦠, Entity : GPE
	Text : CoronavirusPandemic, Entity : ORG
	Text : 2, Entity : CARDINAL
	Text : 1, Entity : CARDINAL
	Text : 🇺, Entity : ORG
	Text : USA, Entity : GPE
	Text : GOTTA BE REALISTIC, Entity : ORG
	Text : Democrats, Entity : NORP
	Text : Promise Americans, Entity : PRODUCT
	Text : Two weeks, Entity : DATE
	Text : Sick Leave.??Ok, Entity : PERSON
	Text : UK, Entity : GPE
	Text : Italy, Entity : GPE
	Text : the Federal Government, Entity : ORG
	Text : American, Entity : NORP
	Text : 3 years, Entity : DATE
	Text : Muslim, Entity : NORP
	Text : Asiyah, Entity : GPE
	Text : Jawad, Entity : PERSON
	Text : Umrah, Entity : GPE
	Text : Corona, Entity : GPE
	Text : Isha, Entity : ORG
	Text : Europe, Entity : LOC
	Text : CDC, Entity : ORG
	Text : Europe, Entity : LOC
	Text : NBA, Entity : ORG
	Text : NCAA, Entity : ORG
	Text : season, Entity : DATE
	Text : TianguisTu, Entity : MONEY
	Text : Americans, Entity : NORP
	Text : CoronaVirus, Entity : ORG
	Text : Jewish, Entity : NORP
	Text : Retweet &amp, Entity : ORG
	Text : Victims, Entity : GPE
	Text : Italy, Entity : GPE
	Text : Charles, Entity : PERSON
	Text : PrincesTrust, Entity : ORG
	Text : American, Entity : NORP
	Text : Dena Grayson, Entity : PERSON
	Text : Biden, Entity : PERSON
	Text : Islamophobia, Entity : GPE
	Text : Muslims, Entity : NORP
	Text : Islam, Entity : ORG
	Text : USA, Entity : GPE
	Text : CDC, Entity : ORG
	Text : Trump, Entity : ORG
	Text : America, Entity : GPE
	Text : 20, Entity : CARDINAL
	Text : CoronavirusPandemic, Entity : ORG
	Text : Alex Jones, Entity : PERSON
	Text : COVID19, Entity : MONEY
	Text : 2020, Entity : DATE
	Text : Muslims, Entity : NORP
	Text : 👇 Zulfikar, Entity : PERSON
	Text : Indian, Entity : NORP
	Text : NYC, Entity : ORG
	Text : Bill Gates, Entity : PERSON
	Text : Nigeria, Entity : GPE
	Text : Italy, Entity : GPE
	Text : Pornhub Premium, Entity : FAC
	Text : the month of March, Entity : DATE
	Text : Wuhan, Entity : GPE
	Text : Dayton Carroll, Entity : PERSON
	Text : Beloit West Branch, Entity : ORG
	Text : WallStreet, Entity : ORG
	Text : BREAKING, Entity : ORG
	Text : San Francisco Public, Entity : GPE
	Text : 3 weeks, Entity : DATE
	Text : 3/16.As, Entity : DATE
	Text : Alex Jones, Entity : PERSON
	Text : spring, Entity : DATE
	Text : 1 week, Entity : DATE
	Text : American, Entity : NORP
	Text : democrat, Entity : NORP
	Text : Alex Jones, Entity : PERSON
	Text : today, Entity : DATE
	Text : a few minutes, Entity : TIME
	Text : Walt Disney Company, Entity : ORG
	Text : Disneyland, Entity : GPE
	Text : California, Entity : GPE
	Text : 250, Entity : CARDINAL
	Text : FoodBanks, Entity : ORG
	Text : SoupKitchens, Entity : ORG
	Text : hourly, Entity : TIME
	Text : &amp, Entity : ORG
	Text : Islamic, Entity : NORP
	Text : Nancy  , Entity : PERSON
	Text : age 65 or older, Entity : DATE
	Text : WhiskyCast, Entity : ORG
	Text : Trump, Entity : ORG
	Text : America, Entity : GPE
	Text : 20, Entity : CARDINAL
	Text : CoronavirusPandemic, Entity : ORG
	Text : English, Entity : LANGUAGE
	Text : A MUST READ, Entity : WORK_OF_ART
	Text : American Airlines, Entity : ORG
	Text : second, Entity : ORDINAL
	Text : Shout, Entity : PERSON
	Text : 3, Entity : CARDINAL
	Text : Maryland, Entity : GPE
	Text : Korea, Entity : GPE
	Text : 51 million, Entity : CARDINAL
	Text : more than 20,000, Entity : CARDINAL
	Text : Texas, Entity : GPE
	Text : 28 million, Entity : CARDINAL
	Text : Ohio, Entity : GPE
	Text : more than 100,000, Entity : CARDINAL
	Text : 2 weeks, Entity : DATE
	Text : Republican, Entity : NORP
	Text : Ohio, Entity : GPE
	Text : Mike DeWine, Entity : PERSON
	Text : only 1,000, Entity : CARDINAL
	Text : 11.69, Entity : CARDINAL
	Text : COVID-19, Entity : GPE
	Text : Japan, Entity : GPE
	Text : 80, Entity : MONEY
	Text : Mohammad Shehab Camp, Entity : FAC
	Text : Syrian, Entity : NORP
	Text : the Bekaa Valley, Entity : LOC
	Text : Leb, Entity : PERSON
	Text : Hong Kong's, Entity : GPE
	Text : Watch, Entity : ORG
	Text : Italy, Entity : GPE
	Text : Coronavius, Entity : PERSON
	Text : U.K, Entity : GPE
	Text : Chicago, Entity : GPE
	Text : the weekend, Entity : DATE
	Text : less than 250, Entity : CARDINAL
	Text : Mideast, Entity : LOC
	Text : Alex Jones, Entity : PERSON
	Text : COVID19, Entity : MONEY
	Text : Ethiopia, Entity : GPE
	Text : 3 days, Entity : DATE
	Text : COVID19, Entity : MONEY
	Text : million, Entity : CARDINAL
	Text : USA, Entity : GPE
	Text : CDC, Entity : ORG
	Text : Texas, Entity : GPE
	Text : 26, Entity : CARDINAL
	Text : Texas, Entity : GPE
	Text : Brazil, Entity : GPE
	Text : Bolsonaro, Entity : PERSON
	Text : hours, Entity : TIME
	Text : Johnson, Entity : PERSON
	Text : Boris, Entity : PERSON
	Text : Republican, Entity : NORP
	Text : Ohio, Entity : GPE
	Text : Mike DeWine, Entity : PERSON
	Text : only 1,000, Entity : CARDINAL
	Text : 11.69, Entity : CARDINAL
	Text : Rome, Entity : GPE
	Text : late afternoon, Entity : TIME
	Text : SpanishSteps &amp, Entity : ORG
	Text : PiazzaNavona, Entity : ORG
	Text : France, Entity : GPE
	Text : next week, Entity : DATE
	Text : Brighton Premier, Entity : ORG
	Text : Saturday, Entity : DATE
	Text : Mikel Arteta, Entity : ORG
	Text : ICE, Entity : ORG
	Text : USA, Entity : GPE
	Text : CDC, Entity : ORG
	Text : Alex Jones, Entity : PERSON
	Text : tonight, Entity : TIME
	Text : Boris Johnson, Entity : PERSON
	Text : Fed, Entity : ORG
	Text : 🤒Scariest, Entity : LOC
	Text : March 12, Entity : DATE
	Text : 1686Total, Entity : CARDINAL
	Text : 40, Entity : CARDINAL
	Text : Covid_19, Entity : MONEY
	Text : March Madness, Entity : ORG
	Text : Chicago, Entity : GPE
	Text : the weekend, Entity : DATE
	Text : Wuhan, Entity : GPE
	Text : Italy, Entity : GPE
	Text : today, Entity : DATE
	Text : 5pm, Entity : QUANTITY
	Text : Lewis Hamilton, Entity : PERSON
	Text : Sunday, Entity : DATE
	Text : Australian GP, Entity : ORG
	Text : COVID19, Entity : MONEY
	Text : Italian, Entity : NORP
	Text : Roberto Stella, Entity : PERSON
	Text : 67, Entity : DATE
	Text : COVID19, Entity : MONEY
	Text : Representative, Entity : ORG
	Text : COVID19, Entity : PERSON
	Text : Italy, Entity : GPE
	Text : Italy, Entity : GPE
	Text : BASH, Entity : ORG
	Text : Democrats &amp, Entity : ORG
	Text : Biden, Entity : MONEY
	Text : PopeFrancis, Entity : ORG
	Text : ’s, Entity : ORG
	Text : Tom Hanks', Entity : PERSON
	Text : CoronaVirus, Entity : ORG
	Text : Abortion Funding, Entity : ORG
	Text : Coronavirus, Entity : MONEY
	Text : Milan, Entity : GPE
	Text : Venice, Entity : GPE
	Text : Italy, Entity : GPE
	Text : USA, Entity : GPE
	Text : CDC, Entity : ORG
	Text : Princewilliam, Entity : ORG
	Text : Republicans, Entity : NORP
	Text : JFK, Entity : ORG
	Text : US, Entity : GPE
	Text : about #, Entity : CARDINAL
	Text : Corona, Entity : GPE
	Text : 2011, Entity : DATE
	Text : Coronavirus, Entity : GPE
	Text : March 9th, Entity : DATE
	Text : &amp, Entity : ORG
	Text : Obama, Entity : PERSON
	Text : a minute, Entity : TIME
	Text : Obama, Entity : PERSON
	Text : CoronaVirus Infographic Datapack, Entity : ORG
	Text : Europe, Entity : LOC
	Text : the United States, Entity : GPE
	Text : the next 30 days, Entity : DATE
	Text : SamsClub, Entity : MONEY
	Text : CobraMeeting, Entity : ORG
	Text : tonight, Entity : TIME
	Text : CoronaVirus, Entity : ORG
	Text : Last week, Entity : DATE
	Text : CoronaVirus, Entity : ORG
	Text : 𝗗𝗔𝗬, Entity : ORG
	Text : 13.45%, Entity : PERCENT
	Text : half, Entity : CARDINAL
	Text : 🦠, Entity : GPE
	Text : Trump, Entity : ORG
	Text : BREAKING, Entity : ORG
	Text : Congress, Entity : ORG
	Text : Shuts Down, Entity : PERSON
	Text : U.S., Entity : GPE
	Text : Capitol, Entity : ORG
	Text : House, Entity : ORG
	Text : Senate, Entity : ORG
	Text : April 1, Entity : DATE
	Text : the Kigali Bus Park, Entity : FAC
	Text : ’s, Entity : PERSON
	Text : spring, Entity : DATE
	Text : 1 week, Entity : DATE
	Text : American Airlines, Entity : ORG
	Text : second, Entity : ORDINAL
	Text : South Africans, Entity : NORP
	Text : Italy, Entity : GPE
	Text : 1,0002, Entity : CARDINAL
	Text : Arsenal, Entity : ORG
	Text : Arteta, Entity : ORG
	Text : US, Entity : GPE
	Text : France, Entity : GPE
	Text : next week, Entity : DATE
	Text : &amp, Entity : ORG
	Text : Scotland, Entity : GPE
	Text : April 13, Entity : DATE
	Text : DisneylandClosed, Entity : ORG
	Text : Boris Johnson's, Entity : PERSON
	Text : NHS, Entity : ORG
	Text : Johnson, Entity : PERSON
	Text : Coronavirus, Entity : GPE
	Text : CODVID19, Entity : MONEY
	Text : State Department, Entity : ORG
	Text : Trump, Entity : ORG
	Text : CoronaVirus, Entity : ORG
	Text : U.S., Entity : GPE
	Text : a few minutes, Entity : TIME
	Text : Anonymous Bites Back, Entity : PERSON
	Text : CoronaVirus, Entity : ORG
	Text : European DawnStream, Entity : ORG
	Text : Chicago, Entity : GPE
	Text : the weekend, Entity : DATE
	Text : Chinese, Entity : NORP
	Text : Rome, Entity : GPE
	Text : Trump, Entity : ORG
	Text : America, Entity : GPE
	Text : 20, Entity : CARDINAL
	Text : CoronavirusPandemic, Entity : ORG
	Text : American, Entity : NORP
	Text : MIT, Entity : ORG
	Text : Ayyadurai, Entity : PERSON
	Text : nearly every day, Entity : DATE
	Text : Saitama City, Entity : GPE
	Text : Saitama City, Entity : GPE
	Text : SouthKorea, Entity : ORG
	Text : COVID19, Entity : MONEY
	Text : CDC, Entity : ORG
	Text : Redfield, Entity : PERSON
	Text : Fed, Entity : ORG
	Text : more than a TRILLION dollars, Entity : MONEY
	Text : more than 7%, Entity : PERCENT
	Text : Maryland, Entity : GPE
	Text : March 16 through March, Entity : DATE
	Text : more than 250, Entity : CARDINAL
	Text : Melbourne, Entity : GPE
	Text : Australia, Entity : GPE
	Text : Congress, Entity : ORG
	Text : Serbian, Entity : NORP
	Text : about #coronavirus.😳#COVID19 #, Entity : MONEY
	Text : BiologicalAttack, Entity : ORG
	Text : Base, Entity : LOC
	Text : the Armed Forces fo…, Entity : ORG
	Text : America, Entity : GPE
	Text : South Korea, Entity : GPE
	Text : 200,000, Entity : CARDINAL
	Text : Coronavirus, Entity : MONEY
	Text : Two weeks ago, Entity : DATE
	Text : Nigeria, Entity : ORG
	Text : the Federal Government, Entity : ORG
	Text : CoronaVirus, Entity : ORG
	Text : NEW YORK, Entity : GPE
	Text : BILL DE, Entity : PERSON
	Text : A. Beast, Entity : PERSON
	Text : DonaldTrump, Entity : ORG
	Text : Chinese, Entity : NORP
	Text : U.S., Entity : GPE
	Text : China, Entity : GPE
	Text : EuropeanTravelBan, Entity : MONEY
	Text : CoronaVirus, Entity : ORG
	Text : StephenMiller, Entity : ORG
	Text : Bane, Entity : ORG
	Text : COVID19, Entity : MONEY
	Text : Jim Bakker, Entity : PERSON
	Text : Missouri, Entity : GPE
	Text : Joe Biden, Entity : PERSON
	Text : week, Entity : DATE
	Text : DISNEYLAND, Entity : ORG
	Text : 13 March 20, Entity : DATE
	Text : nine, Entity : CARDINAL
	Text : 31 tons, Entity : QUANTITY
	Text : China, Entity : GPE
	Text : Italy, Entity : GPE
	Text : Thursday, Entity : DATE
	Text : night, Entity : TIME
	Text : LAZoo, Entity : ORG
	Text : Friday, Entity : DATE
	Text : March 31, Entity : DATE
	Text : Jim Bakker, Entity : PERSON
	Text : Missouri, Entity : GPE
	Text : Merkel Gives, Entity : ORG
	Text : The New York Times, Entity : ORG
	Text : American Airlines, Entity : ORG

0              [None]
1            [None, ]
2                  []
3      [None, None, ]
4                  []
            ...
995          [None, ]
996          [None, ]
997      [None, None]
998          [None, ]
999                []
Name: text, Length: 1000, dtype: object

In [0]:
tweet_df['entities']=tweet_df['text'].apply(lambda x: [(ent.text, ent.label_) if (not ent.text.startswith('#')) else "" for ent in nlp(x).ents])

In [0]:
tweet_df.head(20)

     geo  ...                                                                      entities
0   None  ...                                                         [(about #, CARDINAL)]
1   None  ...                                             [(Arsenal's Mikel Arteta, ORG), ]
2   None  ...                                                                            []
3   None  ...                                        [(World, ORG), (this weekend, DATE), ]
4   None  ...                                                                            []
5   None  ...  [(Italy, GPE), (1,0002, CARDINAL), (Arsenal, ORG), (Arteta, ORG), (US, GPE)]
6   None  ...                                                                            []
7   None  ...                                             [(Twitter, GPE), (tonight, TIME)]
8   None  ...                                                           [(NAfME, CARDINAL)]
9   None  ...                                              [, (Portsmouth, GPE), (Uk, GPE)]
10  None  ...                   [(Democrats, NORP), (14 days, DATE), , (Republicans, NORP)]
11  None  ...                                                                            []
12  None  ...                                                                            []
13  None  ...                                                  [(the last 6 weeks, DATE), ]
14  None  ...                                                  [(Joy, PERSON), (1B, MONEY)]
15  None  ...                                                                            []
16  None  ...   [(1/2, CARDINAL), (CDC, ORG), (Robert Redfield, PERSON), (Americans, NORP)]
17  None  ...                                                                            []
18  None  ...                                                                          [, ]
19  None  ...                      [, (CoronaVirus, ORG), , (Ontario, ORG), (17, CARDINAL)]

[20 rows x 5 columns]

In [0]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [0]:
sid = SentimentIntensityAnalyzer()

In [0]:
tweet_df['sentiment']=tweet_df['text'].apply(lambda x: sid.polarity_scores(x))

In [0]:
tweet_df.head(10)

    geo  ...                                                       sentiment
0  None  ...    {'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'compound': 0.2732}
1  None  ...    {'neg': 0.1, 'neu': 0.667, 'pos': 0.233, 'compound': 0.5859}
2  None  ...  {'neg': 0.173, 'neu': 0.71, 'pos': 0.117, 'compound': -0.3767}
3  None  ...  {'neg': 0.085, 'neu': 0.798, 'pos': 0.117, 'compound': 0.1779}
4  None  ...           {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
5  None  ...   {'neg': 0.178, 'neu': 0.822, 'pos': 0.0, 'compound': -0.5994}
6  None  ...   {'neg': 0.098, 'neu': 0.902, 'pos': 0.0, 'compound': -0.2382}
7  None  ...   {'neg': 0.123, 'neu': 0.877, 'pos': 0.0, 'compound': -0.2732}
8  None  ...           {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
9  None  ...  {'neg': 0.126, 'neu': 0.733, 'pos': 0.141, 'compound': 0.0772}

[10 rows x 6 columns]

In [0]:
!pip install googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/07/b8/bd7ab78014a4290853250ac8a1744c5a200e569811b7e0cc9222d38fc296/googlemaps-4.2.0-py3-none-any.whl
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from googlemaps) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Installing collected packages: googlemaps
Successfully installed googlemaps-4.2.0

In [0]:
import googlemaps

In [0]:
gmaps = googlemaps.Client(key=config.get('twitter', 'googleapikey'))

geocode_result = gmaps.geocode(tweet_df['location'][1])

print(geocode_result)
print(geocode_result[0]['formatted_address'])

print(geocode_result[0]['formatted_address'].split(",")[-1].strip())

[{'address_components': [{'long_name': 'Abuja', 'short_name': 'Abuja', 'types': ['locality', 'political']}, {'long_name': 'Federal Capital Territory', 'short_name': 'Federal Capital Territory', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Nigeria', 'short_name': 'NG', 'types': ['country', 'political']}], 'formatted_address': 'Abuja, Nigeria', 'geometry': {'bounds': {'northeast': {'lat': 9.1866247, 'lng': 7.5555897}, 'southwest': {'lat': 8.9220428, 'lng': 7.233123799999999}}, 'location': {'lat': 9.0764785, 'lng': 7.398574}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 9.1866247, 'lng': 7.5555897}, 'southwest': {'lat': 8.9220428, 'lng': 7.233123799999999}}}, 'place_id': 'ChIJ2S_WTF90ThARK6EOorQXvVM', 'types': ['locality', 'political']}]
Abuja, Nigeria
Nigeria

In [0]:
def get_country(input):
  try:
    output=gmaps.geocode(input)[0]['formatted_address'].split(",")[-1].strip()
  except:
    output="Error"
  return output

In [0]:
tweet_df['country']=tweet_df['location'].apply(lambda x: "" if (not x.strip()) else get_country(x))

In [0]:
tweet_df['country'].value_counts()

USA                                     370
                                        295
Error                                    78
UK                                       47
United States                            35
Canada                                   31
Australia                                19
Nigeria                                  11
India                                     9
United Kingdom                            9
Ghana                                     9
Japan                                     6
Brazil                                    5
Spain                                     5
Ireland                                   5
Italy                                     4
Malaysia                                  4
Greece                                    4
Indonesia                                 3
South Africa                              3
France                                    3
Nepal                                     3
Philippines                               3
Kenya                                     2
Ecuador                                   2
Singapore                                 2
Mexico                                    2
Asia                                      2
Sweden                                    2
Somalia                                   1
Belgium                                   1
Abu Dhabi - United Arab Emirates          1
Poland                                    1
Switzerland                               1
Dominican Republic                        1
New Zealand                               1
Serbia                                    1
Pakistan                                  1
Africa                                    1
Israel                                    1
Isle of Man                               1
Norway                                    1
Mali                                      1
Cambodia                                  1
Kuwait                                    1
North America                             1
Austria                                   1
Hong Kong                                 1
United States Minor Outlying Islands      1
China                                     1
Colombia                                  1
Bolivia                                   1
Bulgaria                                  1
Lebanon                                   1
Germany                                   1
Antarctica                                1
Name: country, dtype: int64

In [0]:
tweet_df.head(10)

    geo  ...    country
0  None  ...    Nigeria
1  None  ...    Nigeria
2  None  ...        USA
3  None  ...        USA
4  None  ...
5  None  ...        USA
6  None  ...        USA
7  None  ...  Australia
8  None  ...        USA
9  None  ...         UK

[10 rows x 7 columns]

In [0]:
tweet_df.dtypes

geo          object
text         object
user         object
location     object
entities     object
sentiment    object
country      object
dtype: object

In [0]:
tweet_df.to_csv("tweets.csv")

In [0]:
corona_confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')

In [0]:
corona_confirmed_df.head()

  Province/State  Country/Region      Lat  ...  3/7/20  3/8/20  3/9/20
0          Anhui  Mainland China  31.8257  ...     990     990     990
1        Beijing  Mainland China  40.1824  ...     426     428     428
2      Chongqing  Mainland China  30.0572  ...     576     576     576
3         Fujian  Mainland China  26.0789  ...     296     296     296
4          Gansu  Mainland China  36.0611  ...     120     124     124

[5 rows x 52 columns]

In [0]:
corona_death_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')

In [0]:
corona_death_df.head()

  Province/State  Country/Region      Lat  ...  3/7/20  3/8/20  3/9/20
0          Anhui  Mainland China  31.8257  ...       6       6       6
1        Beijing  Mainland China  40.1824  ...       8       8       8
2      Chongqing  Mainland China  30.0572  ...       6       6       6
3         Fujian  Mainland China  26.0789  ...       1       1       1
4          Gansu  Mainland China  36.0611  ...       2       2       2

[5 rows x 52 columns]

In [0]:
corona_recovered_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')

In [0]:
corona_recovered_df.head()

  Province/State  Country/Region      Lat  ...  3/7/20  3/8/20  3/9/20
0          Anhui  Mainland China  31.8257  ...     979     984     984
1        Beijing  Mainland China  40.1824  ...     303     308     315
2      Chongqing  Mainland China  30.0572  ...     526     527     542
3         Fujian  Mainland China  26.0789  ...     295     295     295
4          Gansu  Mainland China  36.0611  ...      87      87      88

[5 rows x 52 columns]

In [0]:
corona_confirmed_df=corona_confirmed_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'])

In [0]:
corona_confirmed_df.head()

  Province/State  Country/Region      Lat      Long variable  value
0          Anhui  Mainland China  31.8257  117.2264  1/22/20      1
1        Beijing  Mainland China  40.1824  116.4142  1/22/20     14
2      Chongqing  Mainland China  30.0572  107.8740  1/22/20      6
3         Fujian  Mainland China  26.0789  117.9874  1/22/20      1
4          Gansu  Mainland China  36.0611  103.8343  1/22/20      0

In [0]:
corona_confirmed_df=corona_confirmed_df.rename({'variable':'Date','value': 'Confirmed'}, axis='columns')

In [0]:
corona_confirmed_df.head()

  Province/State  Country/Region      Lat      Long     Date  Confirmed
0          Anhui  Mainland China  31.8257  117.2264  1/22/20          1
1        Beijing  Mainland China  40.1824  116.4142  1/22/20         14
2      Chongqing  Mainland China  30.0572  107.8740  1/22/20          6
3         Fujian  Mainland China  26.0789  117.9874  1/22/20          1
4          Gansu  Mainland China  36.0611  103.8343  1/22/20          0

In [0]:
corona_death_df=corona_death_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'])

In [0]:
corona_death_df=corona_death_df.rename({'variable':'Date','value': 'Death'}, axis='columns')

In [0]:
corona_death_df.head()

  Province/State  Country/Region      Lat      Long     Date  Death
0          Anhui  Mainland China  31.8257  117.2264  1/22/20      0
1        Beijing  Mainland China  40.1824  116.4142  1/22/20      0
2      Chongqing  Mainland China  30.0572  107.8740  1/22/20      0
3         Fujian  Mainland China  26.0789  117.9874  1/22/20      0
4          Gansu  Mainland China  36.0611  103.8343  1/22/20      0

In [0]:
corona_recovered_df=corona_recovered_df.melt(id_vars=['Province/State','Country/Region','Lat','Long']).rename({'variable':'Date','value': 'Recovered'}, axis='columns')

In [0]:
corona_recovered_df.head()

  Province/State  Country/Region      Lat      Long     Date  Recovered
0          Anhui  Mainland China  31.8257  117.2264  1/22/20          0
1        Beijing  Mainland China  40.1824  116.4142  1/22/20          0
2      Chongqing  Mainland China  30.0572  107.8740  1/22/20          0
3         Fujian  Mainland China  26.0789  117.9874  1/22/20          0
4          Gansu  Mainland China  36.0611  103.8343  1/22/20          0

In [0]:
combined_df = [corona_confirmed_df, corona_death_df, corona_recovered_df]
combined_df = [df.set_index(['Province/State','Country/Region','Lat','Long','Date']) for df in combined_df]
combined_df=combined_df[0].join(combined_df[1:])

In [0]:
combined_df.head()

                                                        Confirmed  ...  Recovered
Province/State Country/Region Lat     Long     Date                ...
Anhui          Mainland China 31.8257 117.2264 1/22/20          1  ...          0
Beijing        Mainland China 40.1824 116.4142 1/22/20         14  ...          0
Chongqing      Mainland China 30.0572 107.8740 1/22/20          6  ...          0
Fujian         Mainland China 26.0789 117.9874 1/22/20          1  ...          0
Gansu          Mainland China 36.0611 103.8343 1/22/20          0  ...          0

[5 rows x 3 columns]

In [0]:
combined_df=combined_df.reset_index()

In [0]:
combined_df.head()

  Province/State  Country/Region      Lat  ...  Confirmed Death  Recovered
0          Anhui  Mainland China  31.8257  ...          1     0          0
1        Beijing  Mainland China  40.1824  ...         14     0          0
2      Chongqing  Mainland China  30.0572  ...          6     0          0
3         Fujian  Mainland China  26.0789  ...          1     0          0
4          Gansu  Mainland China  36.0611  ...          0     0          0

[5 rows x 8 columns]

In [0]:
combined_df[['Lat', 'Long','Confirmed','Death','Recovered']] = combined_df[['Lat', 'Long','Confirmed','Death','Recovered']].apply(pd.to_numeric)

In [0]:
combined_df[['Date']] = combined_df[['Date']].apply(pd.to_datetime)

In [0]:
combined_df.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Death                      int64
Recovered                  int64
dtype: object

In [0]:
combined_df.head()

  Province/State  Country/Region      Lat  ...  Confirmed Death  Recovered
0          Anhui  Mainland China  31.8257  ...          1     0          0
1        Beijing  Mainland China  40.1824  ...         14     0          0
2      Chongqing  Mainland China  30.0572  ...          6     0          0
3         Fujian  Mainland China  26.0789  ...          1     0          0
4          Gansu  Mainland China  36.0611  ...          0     0          0

[5 rows x 8 columns]

In [0]:
combined_df.to_csv('corona_dataset.csv')

In [0]:
combined_df=combined_df.rename({'Province/State':'State','Country/Region': 'Country'}, axis='columns')

In [0]:
combined_df.head()

       State         Country      Lat  ...  Confirmed Death  Recovered
0      Anhui  Mainland China  31.8257  ...          1     0          0
1    Beijing  Mainland China  40.1824  ...         14     0          0
2  Chongqing  Mainland China  30.0572  ...          6     0          0
3     Fujian  Mainland China  26.0789  ...          1     0          0
4      Gansu  Mainland China  36.0611  ...          0     0          0

[5 rows x 8 columns]

In [0]:
combined_df.set_index('Country').filter(like="India", axis=0)

        State   Lat  Long       Date  Confirmed  Death  Recovered
Country
India     NaN  21.0  78.0 2020-01-22          0      0          0
India     NaN  21.0  78.0 2020-01-23          0      0          0
India     NaN  21.0  78.0 2020-01-24          0      0          0
India     NaN  21.0  78.0 2020-01-25          0      0          0
India     NaN  21.0  78.0 2020-01-26          0      0          0
India     NaN  21.0  78.0 2020-01-27          0      0          0
India     NaN  21.0  78.0 2020-01-28          0      0          0
India     NaN  21.0  78.0 2020-01-29          0      0          0
India     NaN  21.0  78.0 2020-01-30          1      0          0
India     NaN  21.0  78.0 2020-01-31          1      0          0
India     NaN  21.0  78.0 2020-02-01          1      0          0
India     NaN  21.0  78.0 2020-02-02          2      0          0
India     NaN  21.0  78.0 2020-02-03          3      0          0
India     NaN  21.0  78.0 2020-02-04          3      0          0
India     NaN  21.0  78.0 2020-02-05          3      0          0
India     NaN  21.0  78.0 2020-02-06          3      0          0
India     NaN  21.0  78.0 2020-02-07          3      0          0
India     NaN  21.0  78.0 2020-02-08          3      0          0
India     NaN  21.0  78.0 2020-02-09          3      0          0
India     NaN  21.0  78.0 2020-02-10          3      0          0
India     NaN  21.0  78.0 2020-02-11          3      0          0
India     NaN  21.0  78.0 2020-02-12          3      0          0
India     NaN  21.0  78.0 2020-02-13          3      0          0
India     NaN  21.0  78.0 2020-02-14          3      0          0
India     NaN  21.0  78.0 2020-02-15          3      0          0
India     NaN  21.0  78.0 2020-02-16          3      0          3
India     NaN  21.0  78.0 2020-02-17          3      0          3
India     NaN  21.0  78.0 2020-02-18          3      0          3
India     NaN  21.0  78.0 2020-02-19          3      0          3
India     NaN  21.0  78.0 2020-02-20          3      0          3
India     NaN  21.0  78.0 2020-02-21          3      0          3
India     NaN  21.0  78.0 2020-02-22          3      0          3
India     NaN  21.0  78.0 2020-02-23          3      0          3
India     NaN  21.0  78.0 2020-02-24          3      0          3
India     NaN  21.0  78.0 2020-02-25          3      0          3
India     NaN  21.0  78.0 2020-02-26          3      0          3
India     NaN  21.0  78.0 2020-02-27          3      0          3
India     NaN  21.0  78.0 2020-02-28          3      0          3
India     NaN  21.0  78.0 2020-02-29          3      0          3
India     NaN  21.0  78.0 2020-03-01          3      0          3
India     NaN  21.0  78.0 2020-03-02          5      0          3
India     NaN  21.0  78.0 2020-03-03          5      0          3
India     NaN  21.0  78.0 2020-03-04         28      0          3
India     NaN  21.0  78.0 2020-03-05         30      0          3
India     NaN  21.0  78.0 2020-03-06         31      0          3
India     NaN  21.0  78.0 2020-03-07         34      0          3
India     NaN  21.0  78.0 2020-03-08         39      0          3
India     NaN  21.0  78.0 2020-03-09         43      0          3

In [0]:
combined_df[combined_df.State.isnull()]['Country'].value_counts()

Maldives    48
UK          48
Russia      48
Bulgaria    48
Egypt       48
            ..
Armenia     48
Morocco     48
Iran        48
Thailand    48
Japan       48
Name: Country, Length: 103, dtype: int64

In [0]:
!pip install -U googlemaps

Requirement already up-to-date: googlemaps in /usr/local/lib/python3.6/dist-packages (4.2.0)
Requirement already satisfied, skipping upgrade: requests<3.0,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from googlemaps) (2.21.0)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.8)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2019.11.28)

In [0]:
import googlemaps

In [0]:
gmaps = googlemaps.Client(key=config.get('twitter', 'googleapikey'))

geocode_result = gmaps.reverse_geocode((-23.4425, -58.4438))

print(geocode_result[0])
print(geocode_result[0]['formatted_address'])
print(geocode_result[0]['formatted_address'].split(",")[-2].strip(" "))

{'address_components': [{'long_name': 'Pozo Colorado', 'short_name': 'Pozo Colorado', 'types': ['neighborhood', 'political']}, {'long_name': 'Villa Hayes', 'short_name': 'Villa Hayes', 'types': ['locality', 'political']}, {'long_name': 'Villa Hayes', 'short_name': 'Villa Hayes', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Presidente Hayes', 'short_name': 'Presidente Hayes', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Paraguay', 'short_name': 'PY', 'types': ['country', 'political']}], 'formatted_address': 'Pozo Colorado, Villa Hayes, Paraguay', 'geometry': {'bounds': {'northeast': {'lat': -23.2437722, 'lng': -58.1943502}, 'southwest': {'lat': -23.5721188, 'lng': -59.4172115}}, 'location': {'lat': -23.4165497, 'lng': -58.7237247}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': -23.2437722, 'lng': -58.1943502}, 'southwest': {'lat': -23.5721188, 'lng': -59.4172115}}}, 'place_id': 'ChIJkz1C4V8-b5QRWvirxOPZZco', 'types': ['neighborhood', 'political']}
Pozo Colorado, Villa Hayes, Paraguay
Villa Hayes

In [0]:
def get_state(lat, longi):
  try:
    output=gmaps.reverse_geocode((lat, longi))[0]['formatted_address'].split(",")[-2].strip()
  except:
    output="Error"
  return output

In [0]:
combined_df[combined_df.State.isnull()][['Lat','Long']][0:10].apply(lambda x : print(get_state(x['Lat'], x['Long'])),axis=1)

#print(geocode_result[0]['formatted_address'].split(",")[-2].strip(" "))

Chang Wat Lopburi 15140
Hiraide
Gyeongsangbuk-do
Block 65
Đà Nẵng
36260 Sainte-Lizaigne
Bhorletar 33600
Sarawak
Phnom Penh
Unnamed Road

31    None
32    None
33    None
39    None
40    None
41    None
42    None
43    None
49    None
50    None
dtype: object

In [0]:
combined_df[combined_df.State.isnull()][['Lat','Long']][0:2].apply(lambda x : print(gmaps.reverse_geocode((x['Lat'], x['Long']))),axis=1)

[{'address_components': [{'long_name': 'Unnamed Road', 'short_name': 'Unnamed Road', 'types': ['route']}, {'long_name': 'Tambon Khok Salung', 'short_name': 'Tambon Khok Salung', 'types': ['locality', 'political']}, {'long_name': 'Amphoe Phatthana Nikhom', 'short_name': 'Amphoe Phatthana Nikhom', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Chang Wat Lopburi', 'short_name': 'จ.ลพบุรี', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Thailand', 'short_name': 'TH', 'types': ['country', 'political']}, {'long_name': '15140', 'short_name': '15140', 'types': ['postal_code']}], 'formatted_address': 'Unnamed Road, Tambon Khok Salung, Amphoe Phatthana Nikhom, Chang Wat Lopburi 15140, Thailand', 'geometry': {'bounds': {'northeast': {'lat': 14.9994, 'lng': 101.0020704}, 'southwest': {'lat': 14.9971072, 'lng': 100.9988881}}, 'location': {'lat': 14.9989315, 'lng': 101.0001602}, 'location_type': 'GEOMETRIC_CENTER', 'viewport': {'northeast': {'lat': 14.9996025802915, 'lng': 101.0020704}, 'southwest': {'lat': 14.9969046197085, 'lng': 100.9988881}}}, 'place_id': 'ChIJ9Z8ejN9sHjERNIQDO8GUsVc', 'types': ['route']}, {'address_components': [{'long_name': 'Khok Salung', 'short_name': 'Khok Salung', 'types': ['locality', 'political']}, {'long_name': 'Phatthana Nikhom District', 'short_name': 'Phatthana Nikhom District', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Lopburi', 'short_name': 'จ.ลพบุรี', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Thailand', 'short_name': 'TH', 'types': ['country', 'political']}], 'formatted_address': 'Khok Salung, Phatthana Nikhom District, Lopburi, Thailand', 'geometry': {'bounds': {'northeast': {'lat': 15.0564487, 'lng': 101.0706845}, 'southwest': {'lat': 14.9282946, 'lng': 100.8996764}}, 'location': {'lat': 14.9963334, 'lng': 100.98858}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 15.0564487, 'lng': 101.0706845}, 'southwest': {'lat': 14.9282946, 'lng': 100.8996764}}}, 'place_id': 'ChIJ7a5uFCxtHjER8K4IsFT7BAQ', 'types': ['locality', 'political']}, {'address_components': [{'long_name': '15140', 'short_name': '15140', 'types': ['postal_code']}, {'long_name': 'Lopburi', 'short_name': 'จ.ลพบุรี', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Thailand', 'short_name': 'TH', 'types': ['country', 'political']}], 'formatted_address': 'Lopburi 15140, Thailand', 'geometry': {'bounds': {'northeast': {'lat': 15.0373419, 'lng': 101.188596}, 'southwest': {'lat': 14.757941, 'lng': 100.905003}}, 'location': {'lat': 14.9051801, 'lng': 101.0259275}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 15.0373419, 'lng': 101.188596}, 'southwest': {'lat': 14.757941, 'lng': 100.905003}}}, 'place_id': 'ChIJGUZs2DRyHjER8Cj26Ff7BBw', 'types': ['postal_code']}, {'address_components': [{'long_name': 'Phatthana Nikhom District', 'short_name': 'Phatthana Nikhom District', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Lopburi', 'short_name': 'จ.ลพบุรี', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Thailand', 'short_name': 'TH', 'types': ['country', 'political']}], 'formatted_address': 'Phatthana Nikhom District, Lopburi, Thailand', 'geometry': {'bounds': {'northeast': {'lat': 15.0564487, 'lng': 101.2820748}, 'southwest': {'lat': 14.7411721, 'lng': 100.8455583}}, 'location': {'lat': 14.9051801, 'lng': 101.0259275}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 15.0564487, 'lng': 101.2820748}, 'southwest': {'lat': 14.7411721, 'lng': 100.8455583}}}, 'place_id': 'ChIJN4MGwdNzHjERYFMIsFT7BAM', 'types': ['administrative_area_level_2', 'political']}, {'address_components': [{'long_name': 'Lopburi', 'short_name': 'จ.ลพบุรี', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Thailand', 'short_name': 'TH', 'types': ['country', 'political']}], 'formatted_address': 'Lopburi, Thailand', 'geometry': {'bounds': {'northeast': {'lat': 15.7481383, 'lng': 101.4136046}, 'southwest': {'lat': 14.6550888, 'lng': 100.4293391}}, 'location': {'lat': 14.7995081, 'lng': 100.6533706}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 15.7481383, 'lng': 101.4136046}, 'southwest': {'lat': 14.6550888, 'lng': 100.4293391}}}, 'place_id': 'ChIJ1Y7ZWv3_4TAR2iPvC4f2UuM', 'types': ['administrative_area_level_1', 'political']}, {'address_components': [{'long_name': 'Thailand', 'short_name': 'TH', 'types': ['country', 'political']}], 'formatted_address': 'Thailand', 'geometry': {'bounds': {'northeast': {'lat': 20.465143, 'lng': 105.636812}, 'southwest': {'lat': 5.613038, 'lng': 97.343396}}, 'location': {'lat': 15.870032, 'lng': 100.992541}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 20.465143, 'lng': 105.636812}, 'southwest': {'lat': 5.613038, 'lng': 97.343396}}}, 'place_id': 'ChIJsU1CR_eNTTARAuhXB4gs154', 'types': ['country', 'political']}]
[{'address_components': [{'long_name': '下諏訪辰野線', 'short_name': '県道14号', 'types': ['route']}, {'long_name': 'Hiraide', 'short_name': 'Hiraide', 'types': ['political', 'sublocality', 'sublocality_level_2']}, {'long_name': 'Tatsuno', 'short_name': 'Tatsuno', 'types': ['locality', 'political']}, {'long_name': 'Kamiina-gun', 'short_name': 'Kamiina-gun', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Nagano', 'short_name': 'Nagano', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Japan', 'short_name': 'JP', 'types': ['country', 'political']}, {'long_name': '399-0422', 'short_name': '399-0422', 'types': ['postal_code']}], 'formatted_address': 'Japan, 〒399-0422 Nagano, Kamiina-gun, Tatsuno, Hiraide, 県道14号', 'geometry': {'bounds': {'northeast': {'lat': 35.9997411, 'lng': 138.0074803}, 'southwest': {'lat': 35.9976018, 'lng': 138.0064992}}, 'location': {'lat': 35.9986332, 'lng': 138.0071245}, 'location_type': 'GEOMETRIC_CENTER', 'viewport': {'northeast': {'lat': 36.0000204302915, 'lng': 138.0083387302915}, 'southwest': {'lat': 35.9973224697085, 'lng': 138.0056407697085}}}, 'place_id': 'ChIJAUrB65v-HGARkNr1Vgcn3MA', 'types': ['route']}, {'address_components': [{'long_name': 'Kamitatsuno', 'short_name': 'Kamitatsuno', 'types': ['political', 'sublocality', 'sublocality_level_2']}, {'long_name': 'Tatsuno', 'short_name': 'Tatsuno', 'types': ['locality', 'political']}, {'long_name': 'Kamiina District', 'short_name': 'Kamiina District', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Nagano', 'short_name': 'Nagano', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Japan', 'short_name': 'JP', 'types': ['country', 'political']}], 'formatted_address': 'Kamitatsuno, Tatsuno, Kamiina District, Nagano, Japan', 'geometry': {'bounds': {'northeast': {'lat': 36.002846, 'lng': 138.007126}, 'southwest': {'lat': 35.9808981, 'lng': 137.977003}}, 'location': {'lat': 35.9942919, 'lng': 137.9935975}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 36.002846, 'lng': 138.007126}, 'southwest': {'lat': 35.9808981, 'lng': 137.977003}}}, 'place_id': 'ChIJndQqpST8HGAR_rhjZnxl4hk', 'types': ['political', 'sublocality', 'sublocality_level_2']}, {'address_components': [{'long_name': '399-0421', 'short_name': '399-0421', 'types': ['postal_code']}, {'long_name': 'Tatsuno', 'short_name': 'Tatsuno', 'types': ['political', 'sublocality', 'sublocality_level_2']}, {'long_name': 'Tatsuno', 'short_name': 'Tatsuno', 'types': ['locality', 'political']}, {'long_name': 'Kamiina District', 'short_name': 'Kamiina District', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Nagano', 'short_name': 'Nagano', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Japan', 'short_name': 'JP', 'types': ['country', 'political']}], 'formatted_address': '399-0421, Japan', 'geometry': {'bounds': {'northeast': {'lat': 36.0199959, 'lng': 138.0093142}, 'southwest': {'lat': 35.9787624, 'lng': 137.9717967}}, 'location': {'lat': 36.002099, 'lng': 137.9960743}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 36.0199959, 'lng': 138.0093142}, 'southwest': {'lat': 35.9787624, 'lng': 137.9717967}}}, 'place_id': 'ChIJy1i5cBz8HGARgISSXZjS55Q', 'types': ['postal_code']}, {'address_components': [{'long_name': 'Tatsuno', 'short_name': 'Tatsuno', 'types': ['locality', 'political']}, {'long_name': 'Kamiina District', 'short_name': 'Kamiina District', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Nagano', 'short_name': 'Nagano', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Japan', 'short_name': 'JP', 'types': ['country', 'political']}], 'formatted_address': 'Tatsuno, Kamiina District, Nagano, Japan', 'geometry': {'bounds': {'northeast': {'lat': 36.0639, 'lng': 138.0488399}, 'southwest': {'lat': 35.9086171, 'lng': 137.828834}}, 'location': {'lat': 35.9822077, 'lng': 137.987466}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 36.0639, 'lng': 138.0488399}, 'southwest': {'lat': 35.9086171, 'lng': 137.828834}}}, 'place_id': 'ChIJ5X79eyH9HGARNr0_lrI682o', 'types': ['locality', 'political']}, {'address_components': [{'long_name': 'Kamiina District', 'short_name': 'Kamiina District', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Nagano', 'short_name': 'Nagano', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Japan', 'short_name': 'JP', 'types': ['country', 'political']}], 'formatted_address': 'Kamiina District, Nagano, Japan', 'geometry': {'bounds': {'northeast': {'lat': 36.0639002, 'lng': 138.0906494}, 'southwest': {'lat': 35.5972185, 'lng': 137.8009712}}, 'location': {'lat': 35.910247, 'lng': 137.9812152}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 36.0639002, 'lng': 138.0906494}, 'southwest': {'lat': 35.5972185, 'lng': 137.8009712}}}, 'place_id': 'ChIJ5-hlhbnxHGARyF76MktZwpk', 'types': ['administrative_area_level_2', 'political']}, {'address_components': [{'long_name': 'Nagano', 'short_name': 'Nagano', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Japan', 'short_name': 'JP', 'types': ['country', 'political']}], 'formatted_address': 'Nagano, Japan', 'geometry': {'bounds': {'northeast': {'lat': 37.0303686, 'lng': 138.739206}, 'southwest': {'lat': 35.1984262, 'lng': 137.3244843}}, 'location': {'lat': 36.1543941, 'lng': 137.9218204}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 37.0303686, 'lng': 138.739206}, 'southwest': {'lat': 35.1984262, 'lng': 137.3244843}}}, 'place_id': 'ChIJa4zJGCMBHWARlAu_BE8rXAI', 'types': ['administrative_area_level_1', 'political']}, {'address_components': [{'long_name': 'Japan', 'short_name': 'JP', 'types': ['country', 'political']}], 'formatted_address': 'Japan', 'geometry': {'bounds': {'northeast': {'lat': 45.6412626, 'lng': 154.0031455}, 'southwest': {'lat': 20.3585295, 'lng': 122.8554688}}, 'location': {'lat': 36.204824, 'lng': 138.252924}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 45.6412626, 'lng': 154.0031455}, 'southwest': {'lat': 20.3585295, 'lng': 122.8554688}}}, 'place_id': 'ChIJLxl_1w9OZzQRRFJmfNR1QvU', 'types': ['country', 'political']}]

31    None
32    None
dtype: object

In [0]:
from bs4 import BeautifulSoup
import requests

In [0]:
url='https://www.cnn.com/world/live-news/coronavirus-outbreak-03-10-20-intl-hnk/index.html'

In [0]:
html = requests.get(url).text

In [0]:
soup = BeautifulSoup(html)
print(soup.title)

In [0]:
import spacy 
  
nlp = spacy.load('en_core_web_sm')

In [0]:
for link in soup.find_all("h2"):
    
    print("Headline : {}".format(link.text))
    for ent in nlp(link.text).ents: 
      print("\tText : {}, Entity : {}".format(ent.text, ent.label_))

In [0]:
urls=['https://www.cnn.com/world/live-news/coronavirus-outbreak-03-10-20-intl-hnk/index.html','https://www.nbcnews.com/health/health-news/live-blog/coronavirus-updates-live-u-s-europe-brace-infection-spread-italy-n1153801']

In [0]:
for url in urls:
    response = requests.get(url)
    soup = BeautifulSoup(response.content)

    for link in soup.find_all("h2"):
      print("Headline : {}".format(link.text))

      entities=[]
      for ent in nlp(link.text).ents: 
        print("\tText : {}, Entity : {}".format(ent.text, ent.label_))